name: C++ CI
on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04]
        compiler: [gcc, clang]

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Clone Submodules
        run: git submodule update --init

      - name: Install Build Dependencies
        run: sudo apt install -y ninja-build

      - name: Configure CMake
        run: |
          # Sets the compiler to what it's supposed to be.
          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            export CC=/usr/bin/gcc
            export CXX=/usr/bin/g++
          else
            export CC=/usr/bin/clang
            export CXX=/usr/bin/clang++
          fi

          cmake -S.  -GNinja -BBuild

      - name: Build
        run: cmake --build Build

  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Clone Submodules
        run: git submodule update --init

      - name: Install Build Dependencies
        run: brew install ninja

      - name: Configure CMake
        run: cmake -S. -GNinja -BBuild

      - name: Build
        run: cmake --build Build

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Clone Submodules
        run: git submodule update --init

      - name: Install Build Dependencies
        run: echo "Nothing Yet!"

      - name: Configure CMake
        run: cmake -S. -BBuild

      - name: Build
        run: cmake --build Build
