name: C++ CI
on: [push, pull_request]

env:
  SCCACHE_VERSION: 0.2.12
  NINJA_VERSION: v1.10.0

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows Latest (MSVC)",
            os: windows-latest,
            build_type: "Release", cc: "cl", cxx: "cl",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
        }
        - {
            name: "Ubuntu 18.04 (GCC)",
            os: ubuntu-18.04,
            build_type: "Release", cc: "gcc", cxx: "g++"
          }
        - {
            name: "Ubuntu 18.04 (Clang)",
            os: ubuntu-18.04,
            build_type: "Release", cc: "clang", cxx: "clang++"
          }
        - {
            name: "macOS 10.15 (Clang)",
            os: macos-10.15,
            build_type: "Release", cc: "clang", cxx: "clang++"
          }

    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.1
        with:
          submodules: "recursive"

      - name: Get Build Dependencies
        shell: cmake -P {0}
        run: |
          if ("${{ runner.os }}" STREQUAL "Windows")
            set(NINJA_SUFFIX "win.zip")
            set(SCCACHE_SUFFIX "pc-windows-msvc")
            set(SCCACHE_WINDOWS ".exe")
          elseif ("${{ runner.os }}" STREQUAL "Linux")
            set(NINJA_SUFFIX "linux.zip")
            set(SCCACHE_SUFFIX "unknown-linux-musl")
          elseif ("${{ runner.os }}" STREQUAL "macOS")
            set(NINJA_SUFFIX "mac.zip")
            set(SCCACHE_SUFFIX "apple-darwin")
          endif()

          execute_process(COMMAND ${CMAKE_COMMAND} -E make_directory BUILD_TOOLS)

          # download ninja.
          file(DOWNLOAD "https://github.com/ninja-build/ninja/releases/download/${NINJA_VERSION}/ninja-${NINJA_SUFFIX}" ./ninja.zip SHOW_PROGRESS)
          execute_process(COMMAND ${CMAKE_COMMAND} -E tar -xvf ../ninja.zip WORKING_DIRECTORY ./BUILD_TOOLS)

          # download sccache (cross-platform compiler caching that supports MSVC)
          file(DOWNLOAD "https://github.com/mozilla/sccache/releases/download/${SCCACHE_VERSION}/sccache-${SCCACHE_VERSION}-x86_64-${SCCACHE_SUFFIX}" ./sccache.tar.gz SHOW_PROGRESS)
          execute_process(COMMAND ${CMAKE_COMMAND} -E tar -xvf ../sccache.tar.gz WORKING_DIRECTORY ./BUILD_TOOLS)
          execute_process(COMMAND ${CMAKE_COMMAND} -E copy sccache-${SCCACHE_VERSION}-x86_64-${SCCACHE_SUFFIX}/sccache${SCCACHE_WINDOWS} ./sccache${SCCACHE_WINDOWS} WORKING_DIRECTORY ./BUILD_TOOLS)

          message("::add-path::$ENV{GITHUB_WORKSPACE}/BUILD_TOOLS")

          if (NOT "${{ runner.os }}" STREQUAL "Windows")
            execute_process(COMMAND chmod +x ninja WORKING_DIRECTORY ./BUILD_TOOLS)
            execute_process(COMMAND chmod +x sccache WORKING_DIRECTORY ./BUILD_TOOLS)
          endif()

      - name: Prepare Cache
        id: cache_prep
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")

      - name: Pull Cache
        uses: actions/cache@v2
        with:
          path: ${GITHUB_WORKSPACE}/BUILD_CACHE
          key: ${{ matrix.config.name }}-cache-${{ steps.cache_prep.outputs.timestamp }}
          restore-keys: |
            ${{ matrix.config.name }}-cache-

      - name: Configure CMake
        shell: cmake -P {0}
        run: |
          if ("${{ runner.os }}" STREQUAL "Windows" AND NOT "x${{ matrix.config.environment_script }}" STREQUAL "x")
            execute_process(COMMAND "${{ matrix.config.environment_script }}" && set OUTPUT_FILE environment_script_output.txt)
            file(STRINGS environment_script_output.txt output_lines)
            foreach(line IN LISTS output_lines)
              if (line MATCHES "^([a-zA-Z0-9_-]+)=(.*)$")
                set(ENV{${CMAKE_MATCH_1}} "${CMAKE_MATCH_2}")
              endif()
            endforeach()
          endif()

          execute_process(COMMAND ${CMAKE_COMMAND} 
            -S.
            -BBuild
            -GNinja
            -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }}
            -DCMAKE_C_COMPILER_LAUNCHER=sccache
            -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
            RESULT_VARIABLE result
          )

          if (NOT result EQUAL 0)
            message(FATAL_ERROR "Bad exit status.")
          endif()

      - name: Build Project
        shell: cmake -P {0}
        run: |
          set(ENV{NINJA_STATUS} "[%f/%t %o/sec] ")
          set(ENV{SCCACHE_DIR} $ENV{GITHUB_WORKSPACE}/BUILD_CACHE)
          set(ENV{SCCACHE_CACHE_SIZE} 1G}

          if ("${{ runner.os }}" STREQUAL "Windows" AND NOT "x${{ matrix.config.environment_script }}" STREQUAL "x")
            execute_process(COMMAND "${{ matrix.config.environment_script }}" && set OUTPUT_FILE environment_script_output.txt)
            file(STRINGS environment_script_output.txt output_lines)
            foreach(line IN LISTS output_lines)
              if (line MATCHES "^([a-zA-Z0-9_-]+)=(.*)$")
                set(ENV{${CMAKE_MATCH_1}} "${CMAKE_MATCH_2}")
              endif()
            endforeach()
          endif()

          execute_process(COMMAND ${CMAKE_COMMAND} --build Build RESULT_VARIABLE result)

          if (NOT result EQUAL 0)
            message(FATAL_ERROR "Bad exit status.")
          endif()
